@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&family=Ultra&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../imagem/venceu.jpg");
    background-size: cover;
    display: flex;
    align-items: center ;
    justify-content: flex-end;
}
.caixa01{
    display: flex;
    width: 100%;
    height: 100vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #48FF2A;
    font-size: 1.5rem;
}
button{
    background-color: aliceblue;
    margin-top: 50px;
    padding: 15px 50px;
    font-family: 'Press Start 2P', cursive;
    border: 3px solid black ;
    border-radius: 50px;
}
button:hover{
    background-color: transparent;
    border: 3px solid white ;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #48FF2A;
}